<div class="container-nonbs">
  <div class="d-flex align-items-center justify-content-between">
    <h1><%= @task.title %></h1>
    <div class="btn btn-light">
      <i class="fas fa-pen"></i>
      <%= link_to "Edit this task", edit_task_path %>
    </div>
  </div>
  <div class="box">
    <p><%= @task.details%></p>
  </div>
  <% if @task.completed %>
    <p>
      <input type="checkbox" checked disabled>
      This task is completed
    </p>
  <% else %>
    <p>
      <input type="checkbox" disabled>
      This task is not completed yet
    </p>
  <% end %>
</div>
<div class="separation-box">
  <p><%= link_to "Back to list", tasks_path %></p>
</div>


